{
  "extends": "airbnb",
  "rules": {
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": [1, 'never', {'less': 'always'}],
    "react/jsx-filename-extension": "off",
    "comma-dangle": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "space-in-parens": "off",
    "import/prefer-default-export": "off",
    "no-unused-vars": "off"
  }
}
