@title_bar_height: 63px;

.title-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: @title_bar_height;
  background-color: @color_primary;
  color: white;

  &__container {
    height: 100%;
  }

  &__items {
    display: flex;
    height: 100%;
  }

  &__item {
    padding: 1rem;
    display: flex;
    align-items: center;

    .link {
      color: white;
      text-decoration: none;
    }
  }
}

.body-with-title-bar {
  padding-top: @title_bar_height;
}
