@color_primary: #768eb9;
@color_primary_light: @color_primary + #111;
@color_primary_dark: @color_primary + #000;
@color_text: #576988;
@color_text_light: #C2C2C2;
@color_text-dark: #76849B;
@color_secondary: #E7E7E7;
@color_background #F8F8F8;