@footer_padding: 2rem;

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: @footer_padding;
  padding-bottom: @footer_padding;
  color: @color_text-dark;
  background-color: @color_secondary;
  .sponser {
    font-style: italic;
  }
  .questions {
    font-style: italic;
  }
  .email {
    text-decoration: underline;
  }
}
