@import 'constants';

@import 'buttons';
@import 'inputs';

@import "footer";
@import 'components/title_bar';
@import 'components/logged-out';

html {
  box-sixing: border-box;
}

*, :after, :before {
  box-sixing: inherit;
}

body {
  font: 14px/1 "Oxygen", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.42857143;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}
