@import 'constants';

@import 'buttons';
@import 'inputs';

html {
  box-sixing: border-box;
}

*, :after, :before {
  box-sixing: inherit;
}

body {
  font: 14px/1 "Oxygen", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.42857143;
}
